body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
}


.white-container{
    margin:auto;
    background-color: white;
    border-radius: 5%;
    width: 25%;
    padding:20px;
}

.qrcode-img{
  border-radius: 5%;  
  width: 100%;
}


